@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

html, body, #root {
    height: 100%;
    margin: 0;
    font-family: 'Inter', sans-serif; /* Applied globally */
    -webkit-font-smoothing: antialiased; /* Sharper text */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
